#TomatoAction {

    .countDownWrapper,
    .inputWrapper {
        position: relative;
    }

    .startTomatoButton {
        width: 100%;
        background: #f4f4f4;
    }

    .abort {
        position: absolute;
        right: -6px;
        top: -6px;
        background: #fff;
        cursor: pointer;
    }
}